#container{
   /* border: 1px solid grey;  */
    width: 1050px;
    margin: 0 auto;
}
#header{
    height: 100px;
    padding: 10px 0;
}
#brand{
    float:left;
}
h1 a{
    font-size: 50px;
    font-weight: 100;
    color: peru;
    text-decoration: none;
}
#search{
    float:right;
    background: linear-gradient(lavender, purple);
    width:400px;
    height: 50px;
    padding: 20px 20px 0 20px;
    margin-top: 20px;
}
.text{
    float: left;
    width:200px;
    padding: 3px;
    font-size: 15px;
    color: red;
    background: white url(images/search.png) right center no-repeat;
}
.submit{
    float: right;
    padding: 5px;
    font-weight: bold;
    color:lemonchiffon;
    background: peru;
}
.clear{
    clear: both;
}
#menu{
    height: 70px;
    background: linear-gradient(rgba(10, 3, 3, 0), rgba(255,0,0,1));
padding: 7px 0;
}
ul{
    list-style: none;
}
#menu ul li{
 float: left;
 padding: 0 40px;
 height: 20px;
border-right: 1px solid purple;

}
#menu ul li:last-child{
    border-right: none;
}
#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: purple;
    line-height: 40px;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease; 
    -o-transition: font-size 0.3s ease;
     -ms-transition: font-size 0.3s ease; 
     transition: font-size 0.3s ease;
}
#menu ul li a:hover, #menu ul li a.active{
    font-size: 20px;
    font-weight: bold;
    color:rebeccapurple;
}
#introduction{
    background: linear-gradient(#E5F2BB, #B7E952);
    padding: 30px;
    margin:16px 0;
}
#introduction h3{
font-size: 45px;
color:#316901;
font-weight: normal;
}
#introduction p{
    font-size: 25px;
    color: #628F19;
    text-align: justify;
}
.sidebar{
    height: 500px;
    width: 400px;
border: 1px solid #BAF46F;
border-radius: 20px;
padding: 10px 30px;
}
.sidebar h3{
    color: #B314DB;
    font-size: 30px;
}
.sidebar ul{
    padding-top: 8px;
}
#lsidebar ul li{
    padding: 4px 0 4px 10px;
    list-style-image: url(images/arrow.png);
}
#rsidebar ul li{
    padding: 17px 0 17px 70px;
   background: url(images/tick.png) no-repeat left;
}
.sidebar ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #5d12e7;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}
.sidebar ul li a:hover, -sidebar ul li a.active{
    text-decoration: none;
    color: #B314DB;
    font-size: 20px;
    font-weight: bold;
}
#lsidebar{
    float:left;
}
#rsidebar{
    float: right;
}
.footer{
    height: 60px;
    background: linear-gradient(#000000, #D5D533);
    background: -webkit-linear-gradient(#F6F390, #D5D533);
    background: -o-linear-gradient(#F6F390, #D5D533);
    background: -moz-linear-gradient(#F6F390, #D5D533;
    padding: 10px 30px;
    margin-top: 15px;
}